* {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	color: #bb55ff;
	font-size: 20px;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 40px;
}
div {
	text-align: inherit;
	padding: 0px;
	margin: 0px;
}
ul {
	margin: 0px;
	li {
		text-align: left;
	}
}
body {
	background-color: #000000;
	color: #ffffff;
}
table {
	tr {
		td, th {
			vertical-align: top;
			text-align: left;
			span[contenteditable="true"] {
				width: 100%;
			}
		}
	}
}
.borderedTable {
	border-collapse: collapse;
	tr {
		td, th {
			border-style: solid;
			border-width: 1px;
			color: #bb55ff;
		}
	}
}
.window {
	z-index: 0;
	width: calc(100vw - 50px);
}
.menuButton, ::file-selector-button {
	height: 60px;
	width: 400px;
	font-size: 25px;
}
button, label, ::file-selector-button, [contenteditable="true"] {
	&:not(td) {
		display: inline-block;
	}
	background-color: rgba(0, 0, 0, 0);
	color: #ddeeff;
	border-style: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	cursor: pointer;
	transition-duration: 0.3s;
	&.on {
		color: #bb55ff;
	}
	&:hover, &.active {
		color: #bb55ff;
		transition: ease;
	}
	&.active {
		cursor: default;
	}
}
[contenteditable="true"] {
	text-align: left;
}
::file-selector-button:hover {
	color: #bb55ff;
	transition: ease;
}
#div_notificationBox {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
}
.notification {
	max-width: min(700px, 75vw);
	font-size: 16px;
	vertical-align: center;
	text-align: center;
	background-color: #330055;
	color: #bb55ff;
	position: relative;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: #bb55ff;
  animation-duration: 6s;
  animation-name: notification;
	animation-timing-function: cubic-bezier(0.5, 1, 0.75, 1.1);
	padding: 4px;
	margin: 4px;
}
@keyframes notification {
	0% {
		left: 750px;
	}
	10% {
		left: 0px;
	}
	90% {
		left: 0px;
	}
	100% {
		left: 750px;
	}
}
#table_quizEditorRoot {
	tr {
		>:nth-child(1) {
			width: 200px;
			text-align: right;
			padding-right: 30px;
			padding-bottom: 15px;
		}
		>:nth-child(2) {
			width: 600px;
			text-align: left;
			padding-bottom: 15px;
		}
	}
}
#table_gradingScale {
	tr {
		.gradingTableCol1 {
			height: 26px;
			min-width: 150px;
			text-align: right;
		}
		.gradingTableCol2 {
			height: 26px;
			width: 80px;
			text-align: right;
		}
		.gradingTableCol3 {
			width: 60px;
			text-align: center;
			button {
				transform: translateY(-14px);
			}
		}
	}
}
.questionSummary {
	height: 110px;
	width: 300px;
	background-color: #19002a;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #6600aa;
	color: #bb55ff;
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
	&:hover {
		background-color: #330055;
	}
}
#div_selectedQuestion {
	background-color: #19002a;
	border-style: solid;
	border-width: 2px;
	border-color: #6600aa;
	text-align: left;
}
#table_selectedQuestion {
	tr {
		>:nth-child(1) {
			width: 180px;
		}
		>:nth-child(2) {
			width: calc(100vw - 240px);
		}
	}
}
.questionOptionButton {
	width: 240px;
	text-align: center;
}
.questionOptions {
	width: 100%;
	font-size: 16px;
	text-align: right;
	div {
		display: inline;
	}
	button, span {
		font-size: 16px;
		margin-left: 16px;
	}
}
#table_totalMarkSelector {
	tr {
		td {
			text-align: center;
		}
	}
}
.mcqButton {
	height: 40px;
	width: 300px;
	font-size: 20px;
	text-align: center;
}
input, textarea {
	color: #000000;
}
input:focus {
	width: fit-content;
}
textarea {
	text-align: left;
}